.container {
  margin: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 666px;
  gap: 56px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 180px;
}
.who {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 25.2px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #8b4513;
  height: 25px;
}
.about {
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 500;
  line-height: 54.6px;
  text-align: center;
  width: 815px;
  height: 55px;
}
.we {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: center;
  width: 936px;
  height: 64px;
}

.headingTwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}
.subhead {
  height: 350px;
  gap: 48px;
  display: flex;
  flex-direction: column;
}
.your {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 46.8px;
  text-align: left;
}

.desc {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
}
.button {
  width: 242px;
  height: 56px;
  padding: 16px 40px 16px 40px;
  gap: 8px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #8b4513;
  color: white;
}
