.hero {
  height: 969px;
  background-color: #93ceaa;
  padding-top: 32px;
  padding-left: 250px;
  padding-right: 250px;
  /* width: 100%; */
}
.aboutUs {
  height: 969px;
  background-color: white;
}
