.hero {
  height: 969px;
  background-color: #93ceaa;
  padding-top: 32px;
  padding-left: 250px;
  padding-right: 250px;
  /* width: 100%; */
}
.aboutUs {
  height: 969px;
  background-color: white;
}
.cause {
  height: 1208px;
  gap: 56px;
  background-color: #fdf7f4;
}
.donation {
  height: 924px;
  gap: 56px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.event {
  height: 924px;
  gap: 56px;
  background-color: #fdf7f4;
}
