.container {
  height: 96px;
  border-radius: 16px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  padding: 24px 24px 24px 28px;
  background-color: white;
  justify-content: space-between;
}
