.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 80px;
  padding-top: 80px;
}
.contentOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 180px;
  gap: 24px;
}
.innerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 92px;
  gap: 12px;
}
.testimonials {
  width: 90px;
  height: 25px;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 25.2px;
  letter-spacing: 0.15em;
  text-align: left;
}
.even {
  width: 815px;
  height: 55px;
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 500;
  line-height: 54.6px;
  text-align: center;
}

.advocate {
  width: 936px;
  height: 64px;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: center;
  color: #696f8c;
}
.contentTwo {
  height: 352px;
}
.button {
  width: 233px;
  height: 56px;
  padding: 16px 40px 16px 40px;
  gap: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #8b4513;
  color: white;
  margin-top: 20px;
}
